
<tr>
  <td><%= job.title %></td>
  <td><%= job.location %></td>
  <td><%= job.expire_time %></td>
  <td><%= job.min_salary %></td>
  <td><%= job.max_salary %></td>
  <td><%= job.description %></td>
  <td>
    <% job.skills.each do |skill| %>
      <%= skill.name %><%= "," unless skill == job.skills.last %>
    <% end %>
  </td>

  <% if current_user.recruiter?%>

    <div class="btn-group ">
      <%# if current_user.id == job.recruiter_id %>
      <td><%= link_to "view", job, class: 'btn btn-info ' %></td>
      <td><%= link_to "edit", edit_job_path(job), class: 'btn btn-warning '  %></td>
      <td><%= link_to "delete", job, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger' %></td>
      <%# else %>
      <td id="apply_<%= job.id %>"><%#= link_to "Apply", apply_job_path(job), method: :patch, class: 'btn btn-default', remote: true if !(current_user.applied_jobs.map(&:id).include? job.id) %></td>
      <%# end %>
    </div>
  <% else %>
    <div class="btn-group ">
      <td id="apply_<%= job.id %>">
      <%= link_to "Apply", apply_job_path(job), method: :patch, class: 'btn btn-default', remote: true if !(current_user.applied_jobs.map(&:id).include? job.id) %>
      </td>
      <td id="unapply_<%= job.id %>">
        <%= link_to "Un-apply", un_apply_job_path(job), method: :patch, class: 'btn btn-default', remote: true if (current_user.applied_jobs.map(&:id).include? job.id) %>
      </td>
    </div>
  <% end %>
</tr>
