<h2> Hello        :- <%= current_user.first_name %> </h2>
<h1 class="text-center">Show Job</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @job.title %></td>
    <td><%= @job.location %></td>
    <td><%= @job.description %></td>
  </tr>
</table>

<h3 class="text-center"> Applied Candidates are :- </h3>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
    <th></th>
    <th>Matching Skills</th>
    <th></th>
    <th></th>
  </tr>
  <% @job_seekers.each do |job_seeker| %>
    <tr>
      <td><%= job_seeker.first_name %></td>
      <td><%= job_seeker.last_name %></td>
      <td><%= job_seeker.email %></td>
      <td><%= hidden_field_tag "id", @job.id, class: "hidden_job_id" %></td>
      <td>
        <% if job_seeker.skills.present? %>
          <% job_seeker.skills.each do |skill|%>
            <%= skill.name %><%= "," unless skill == job_seeker.skills.last %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to "Accept", 'javascript:void(0);' , class: 'btn btn-default accept', id: "accepting", data: { job_seeker: job_seeker.id } %>
      </td>
      <td>
        <%= link_to "Decline", decline_job_path(@job.id, job_seeker: job_seeker), method: :patch, class: 'btn btn-default'  %>
      </td>
    </tr>
  <% end %>
</table>
<%= render partial: 'modal' %>
