<h2> Hello        :- <%= current_user.first_name %> </h2>
<h1 class="text-center">Show Job</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @job.title %></td>
    <td><%= @job.location %></td>
    <td><%= @job.description %></td>
  </tr>
</table>
<% if current_user.recruiter? %>
  <h3 class="text-center"> Applied Candidates are :- </h3>
  <table>
    <%= render partial: 'job_seeker_table' %>
    <%= render partial: 'job_seeker', collection: @job_seekers %>
  </table>
  <%= render partial: 'modal' %>
<% end %>

<%= render partial: 'comments/new_comment', locals: { job: @job } %><br>

<br>
<% @job.comments.each do |comment| %>
  <%= render partial: 'comments/comment', locals: { comment: comment, job: @job } if comment.parent_comment? %>
<% end %>
