<title>Welcome Index Page</title>
<% if current_user %>
  <h1> Hello        :- <%= current_user.first_name %> </h1>
  <h1> User Type is :- <%= current_user.user_type %> </h1>
<% end %>

<% if current_user.seeker? %>
  <div class="all_jobs">
    No of active jobs are : <%= @jobs.count %><br>
    <table>
      <%= render partial: 'jobs/data' %>
      <%= render partial: 'jobs/job', collection: @jobs %>
    </table>
  </div>
  <%= paginate @jobs %><br>
  <%= page_entries_info @jobs, entry_name: 'jobs' %>
<% end %>
<br>